# .env local
EXPO_PUBLIC_SUPABASE_URL=https://qkclleforgiatyljydqz.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_DcAEI4Gq8xzdy5mIzG0j9w_5_stMCRS
TELEGRAM_BOT_TOKEN=8674625966:AAEJ9VM1KMACHMps9UHTt7xAu5azLuPXqyo

# Novas envs de Bancos de Dados via PHP adicionadas hoje:
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.qkclleforgiatyljydqz
DB_PASS=kWZ8mpzQXHOYgytK