# .env local
EXPO_PUBLIC_SUPABASE_URL=https://qkclleforgiatyljydqz.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_DcAEI4Gq8xzdy5mIzG0j9w_5_stMCRS
TELEGRAM_BOT_TOKEN=8674625966:AAEJ9VM1KMACHMps9UHTt7xAu5azLuPXqyo

# Novas envs de Bancos de Dados via PHP adicionadas hoje:
DB_HOST=db.qkclleforgiatyljydqz.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrY2xsZWZvcmdpYXR5bGp5ZHF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNTkwMzQsImV4cCI6MjA4ODczNTAzNH0.h2SAzEiZfFqVNpyqwnn0KFHy38WXeCI1rqlYJl_CYW8